
    .tab {
        border: 1px dotted gray;
        background: #E8E8E8;
        padding-left: 10px;
        padding-right: 10px;
        display: inline;
        cursor: pointer;
    }

    .tabSelected {
        background: none;
    }

    .tabText {
        margin-left: 8px;
        margin-right: 8px;
        color: black;
        font-size: 15px;
    }